[defaults]
home              = ./.ansible/
inventory         = ./inventory/
roles_path        = ./roles/
collections_path  = ./.ansible/collections/

vars_plugins_enabled = host_group_vars, community.sops.sops

interpreter_python = auto_silent
host_key_checking  = true

forks     = 20
gathering = smart
timeout   = 30

log_path  = ./.ansible/ansible.log
local_tmp = ./.ansible/tmp

bin_ansible_callbacks  = true
stdout_callback        = ansible.builtin.default
callback_result_format = yaml

display_skipped_hosts     = false
display_ok_hosts          = true
show_task_path_on_failure = true
check_mode_markers        = true


[inventory]
unparsed_is_failed     = true
any_unparsed_is_failed = true
host_pattern_mismatch  = error


[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true


[diff]
always  = true
context = 3


[galaxy]
cache_dir = ./.ansible/galaxy_cache
token_path = ./.ansible/galaxy_token
